

.container{
   
    background-color: #012583;
 
    
}

 
/* button{
    align-items: center;
    border: 10px;
    border-color: aliceblue;
    gap: 100px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: purple;
    text-align: center;
    width: 150px;
    height: 2.5rem;
    padding: 10px;
} 
p{
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
}  */

